<!DOCTYPE html>
<html>
  <head>
    <%- include('head.ejs') %>
  </head>
  <body>
    <header>
      <%- include('./nav-primary.ejs') %>
      <h1><%= title %></h1>
    </header>

    <main>
      <article>Character # <%= id %></article>
    </main>

    <footer><%- include('disclaimer') %></footer>
    <script src="/scripts/character-view.js" type="module"></script>
  </body>
</html>
