<!DOCTYPE html>
<html>
  <head>
    <%- include('head.ejs') %>
    <link rel="stylesheet" href="/stylesheets/character-form.css">
  </head>
  <body>
    <header>
      <%- include('./nav-primary.ejs') %>
      <h1><%= title %></h1>
    </header>

    <main>
      <button type="button" id="btn-random-all">Randomize everything!</button>
      <article><%- include('form.ejs') %></article>
    </main>

    <footer><%- include('disclaimer') %></footer>
    <script src="../scripts/character-new.js" type="module"></script>
  </body>
</html>
