<!DOCTYPE html>
<html>
  <head>
    <%- include('head.ejs') %>
  </head>
  <body>
    <header>
      <%- include('./nav-primary.ejs') %>
      <h1><%= title %></h1>
    </header>

    <main>
      <article><%- include('form.ejs') %></article>
    </main>

    <footer><%- include('disclaimer') %></footer>
    <script src="../scripts/character-edit.js" type="text/javascript"></script>
  </body>
</html>
