<!DOCTYPE html>
<html>
  <%- include('head.ejs') %>
  <body>
    <%- include('nav-primary.ejs') %>

    <h1><%= title %></h1>

    <main>
      <article>Character # <%= id %></article>
    </main>

    <footer><%- include('disclaimer') %></footer>
    <script src="/scripts/character-view.js" type="module"></script>
  </body>
</html>
