<% for( let stat of ["Might", "Speed", "Intellect"] ) { %>
<fieldset>
  <legend><%= stat %></legend>
  <% stat = stat.toLowerCase() %>
  <div class="pool-current">
    <label>Pool <input type="number" name="<%= stat %>-pool" id="<%= stat %>-pool" /></label>
  </div>
  <div class="pool-max">
    <label>Max <input type="number" name="<%= stat %>-max" id="<%= stat %>-max" /></label>

  </div>
  <div class="pool-edge">
    <label>Edge <input type="number" name="<%= stat %>-edge" id="<%= stat %>-edge" /></label>

  </div>
  <% if (stat === "speed") { %>
  <div class="effort-cost">
    <label>Speed Effort Cost <input type="number" name="speed-cost" id="speed-cost" /></label>

  </div>
  <% } %>
</fieldset>
<% } %>
<fieldset id="pool-assign" class="hidden">
  <legend>Assign points</legend>
  <p>
    You get <span id="pool-assign-start"></span> points to assign to any Pool(s) you want.
  </p>
  <p>(<span id="pool-assign-remaining"></span> remain)</p>
</fieldset>
